.logo{
	width: 70px;
}

.card-img-top{
	width: 100%;
	height: 200px;
	object-fit: contain;
}

.card:hover{
	transition: transform 0.3s;
}

.card:hover{
	transform: scale(1.1);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.avatar{
	width: 100px;
}

.fixScroll
{
	position: fixed;
}

